<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
      <h1>Thanks for your adding a new book to our API</h1>
      <p>Title : {{book.title}} </p>
      <P>Author : {{book.author}} </P>
      <p>Resume : {{book.resume}} </p>
<ul>
  @each(category in book.categories)
      <li> {{category.name}} </li>
  @end
</ul>

</body>
</html>
